In [ ]:
# 컬럼 추가 
df['컬럼명']=시리즈 객체
range=high-low

In [3]:
!pip install pyupbit

Collecting pyupbit
  Downloading pyupbit-0.2.33-py3-none-any.whl.metadata (14 kB)
Requirement already satisfied: pyjwt>=2.0.0 in c:\users\yge12\anaconda3\lib\site-packages (from pyupbit) (2.4.0)
Requirement already satisfied: pandas in c:\users\yge12\anaconda3\lib\site-packages (from pyupbit) (2.1.4)
Requirement already satisfied: requests in c:\users\yge12\anaconda3\lib\site-packages (from pyupbit) (2.31.0)
Collecting websockets (from pyupbit)
  Downloading websockets-12.0-cp311-cp311-win_amd64.whl.metadata (6.8 kB)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\yge12\anaconda3\lib\site-packages (from pandas->pyupbit) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\yge12\anaconda3\lib\site-packages (from pandas->pyupbit) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\yge12\anaconda3\lib\site-packages (from pandas->pyupbit) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\yge12\anaconda3\lib\site-packages (from pandas->pyupbit) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\yge12\anaconda3\lib\site-packages (from requests->pyupbit) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\yge12\anaconda3\lib\site-packages (from requests->pyupbit) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\yge12\anaconda3\lib\site-packages (from requests->pyupbit) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\yge12\anaconda3\lib\site-packages (from requests->pyupbit) (2024.2.2)
Requirement already satisfied: six>=1.5 in c:\users\yge12\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas->pyupbit) (1.16.0)
Downloading pyupbit-0.2.33-py3-none-any.whl (24 kB)
Downloading websockets-12.0-cp311-cp311-win_amd64.whl (124 kB)
   ---------------------------------------- 0.0/125.0 kB ? eta -:--:--
   ---------------------------------------  122.9/125.0 kB 3.5 MB/s eta 0:00:01
   ---------------------------------------- 125.0/125.0 kB 2.4 MB/s eta 0:00:00
Installing collected packages: websockets, pyupbit
Successfully installed pyupbit-0.2.33 websockets-12.0

In [9]:
import pyupbit
df=pyupbit.get_ohlcv("KRW-BTC")
df

,open,high,low,close,volume,value
2023-08-23 09:00:00,35686000.0,36350000.0,35320000.0,35941000.0,2242.666454,8.015229e+10
2023-08-24 09:00:00,35941000.0,36056000.0,35330000.0,35635000.0,1899.019937,6.779844e+10
2023-08-25 09:00:00,35646000.0,35797000.0,35200000.0,35479000.0,2117.114615,7.505016e+10
2023-08-26 09:00:00,35479000.0,35564000.0,35385000.0,35398000.0,672.272379,2.383438e+10
2023-08-27 09:00:00,35400000.0,35553000.0,35374000.0,35402000.0,845.253465,2.994665e+10
...,...,...,...,...,...,...
2024-03-05 09:00:00,95500000.0,97000000.0,88024000.0,91275000.0,22134.582353,2.068791e+12
2024-03-06 09:00:00,91284000.0,94917000.0,88233000.0,93325000.0,12290.203865,1.132969e+12
2024-03-07 09:00:00,93325000.0,95678000.0,92670000.0,94060000.0,5792.492528,5.449383e+11
2024-03-08 09:00:00,94044000.0,98543000.0,94000000.0,96237000.0,8721.933220,8.352094e+11
2024-03-09 09:00:00,96237000.0,96420000.0,95585000.0,96403000.0,1585.562585,1.523421e+11

In [10]:
df.head()

,open,high,low,close,volume,value
2023-08-23 09:00:00,35686000.0,36350000.0,35320000.0,35941000.0,2242.666454,8.015229e+10
2023-08-24 09:00:00,35941000.0,36056000.0,35330000.0,35635000.0,1899.019937,6.779844e+10
2023-08-25 09:00:00,35646000.0,35797000.0,35200000.0,35479000.0,2117.114615,7.505016e+10
2023-08-26 09:00:00,35479000.0,35564000.0,35385000.0,35398000.0,672.272379,2.383438e+10
2023-08-27 09:00:00,35400000.0,35553000.0,35374000.0,35402000.0,845.253465,2.994665e+10

In [13]:
df['range']=df['high']-df['low']
df.head()

,open,high,low,close,volume,value,range
2023-08-23 09:00:00,35686000.0,36350000.0,35320000.0,35941000.0,2242.666454,8.015229e+10,1030000.0
2023-08-24 09:00:00,35941000.0,36056000.0,35330000.0,35635000.0,1899.019937,6.779844e+10,726000.0
2023-08-25 09:00:00,35646000.0,35797000.0,35200000.0,35479000.0,2117.114615,7.505016e+10,597000.0
2023-08-26 09:00:00,35479000.0,35564000.0,35385000.0,35398000.0,672.272379,2.383438e+10,179000.0
2023-08-27 09:00:00,35400000.0,35553000.0,35374000.0,35402000.0,845.253465,2.994665e+10,179000.0

In [22]:
df.drop('value', axis=1, inplace=True)
# 컬럼 삭제

,open,high,low,close,volume,range
2023-08-23 09:00:00,35686000.0,36350000.0,35320000.0,35941000.0,2242.666454,1030000.0
2023-08-24 09:00:00,35941000.0,36056000.0,35330000.0,35635000.0,1899.019937,726000.0
2023-08-25 09:00:00,35646000.0,35797000.0,35200000.0,35479000.0,2117.114615,597000.0
2023-08-26 09:00:00,35479000.0,35564000.0,35385000.0,35398000.0,672.272379,179000.0
2023-08-27 09:00:00,35400000.0,35553000.0,35374000.0,35402000.0,845.253465,179000.0
...,...,...,...,...,...,...
2024-03-05 09:00:00,95500000.0,97000000.0,88024000.0,91275000.0,22134.582353,8976000.0
2024-03-06 09:00:00,91284000.0,94917000.0,88233000.0,93325000.0,12290.203865,6684000.0
2024-03-07 09:00:00,93325000.0,95678000.0,92670000.0,94060000.0,5792.492528,3008000.0
2024-03-08 09:00:00,94044000.0,98543000.0,94000000.0,96237000.0,8721.933220,4543000.0
2024-03-09 09:00:00,96237000.0,96420000.0,95585000.0,96403000.0,1585.562585,835000.0

In [48]:
# 시계열 데이터와 인덱스 
import pandas as pd

df

Timestamp('2023-08-28 09:00:00')

In [49]:
# 로우 추가 

df.drop(['volume','range'], axis=1)## 컬럼이라서 
df.tail()
date="2023-08-28 09:00:00"
dt=pd.to_datetime(date)
de
df.drop(df.index[-1],axis=0,inplace=True)
df

AttributeError: 'Timestamp' object has no attribute 'drop'

2023-08-28 09:00:00

In [51]:
df

Timestamp('2023-08-28 09:00:00')